<div class="container">
	<h1 class="page-header">Item</h1>
		<h3> <span class="label label-primary"><%=@item.item_name%></span></h3>
		<p>Amount: <span class="badge"><%=@item.amount%></span></p>
		<p>Price: <span class="badge"><%=number_to_currency(@item.price)%></span></p>
</div>